/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Ant.design overrides */
.ant-card .ant-card-head {
    border-bottom: 1px solid #858585;
}

.ant-card {
    max-width: 450px;
    text-align: center;
    border: 1px solid #858585;
    margin-bottom: 1rem;
}

.ant-form {
    text-align: left;
}

.ant-form-item {
    margin-bottom: 1rem;
}

.ant-form-item:last-child {
    margin-bottom: 0px;
}

.ant-btn {
    min-width: 7rem;
}

/* Layout */
.main-wrapper {
    display: flex;
    justify-content: space-between;
}

.display {
    font-family: 'Poppins', sans-serif;
    float: right;
    margin-left: auto;
    width: 210mm;
    height: auto;
    line-height: 1.3em;
}

.title {
    margin-top: 0;
    margin-bottom: .5em;
}

ul {
    list-style: none;
    padding: none;
}