/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Ant.design overrides */
.ant-card .ant-card-head {
    border-bottom: 1px solid #858585;
}

.ant-card {
    max-width: 450px;
    text-align: center;
    border: 1px solid #858585;
    margin-bottom: 1rem;
}

.ant-form {
    text-align: left;
}

.ant-form-item {
    margin-bottom: 1rem;
}

.ant-form-item:last-child {
    margin-bottom: 0px;
}

.ant-btn {
    min-width: 7rem;
}

/* Layout */
.main-wrapper {
    display: flex;
    justify-content: space-between;
}

.display {
    font-family: 'Poppins', sans-serif;
    float: right;
    margin-left: auto;
    width: 210mm;
    height: auto;
}

.title {
    grid-area: title-subtitle;
    margin: 0 .5rem 0 0;
}

.subtitle {
    grid-area: title-subtitle;
    margin: 0 0 .5rem 0;
    font-weight: 100;
    font-size: 1em;
}

.timespan {
    grid-area: timespan;
    margin-top: .4rem;
    font-size: .75em;
    text-align: center;
}

.description {
    grid-area: description;
}

.editor {
    min-width: 450px;
}

.list-grid {
    display: grid;
    grid-template: 
        "timespan title-subtitle" auto
        "timespan description" auto / 150px auto;
}

ul {
    list-style: none;
    padding: 0;
}