.info-box-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
}

.info-box-name-title {
    margin: 0;
    text-align: left;
}

.info-box-name-title :nth-child(n+1) {
    margin: 0;
}

.info-box-contact {
    margin: 0;
    text-align: right;
}

.info-box-contact :nth-child(n+1) {
    margin: 0;
}

.info-box-description {
    margin: 0 1rem;
    font-style: italic;
}